#root.root {
  /* Collapsed buttons size */
  --nav-btn-width: 34px;
  --nav-btn-height: 34px;
  --tabs-pinned-height: 34px;
  --tabs-pinned-width: 34px;
  --tabs-height: 34px;
  --tabs-lvl-opacity: 0.33;
  --frame-bg: var(--toolbar-bg);

  --frame-el-overlay-selected-border:  var(--uc-accent-color) !important;
  --toolbar-el-overlay-selected-border:  var(--uc-accent-color) !important;
  --scroll-progress-bg:  var(--uc-accent-color) !important;
  --nav-btn-accent:  var(--uc-accent-color) !important;
  --status-notice:  var(--uc-accent-color) !important;
  --accent: var(--uc-accent-color) !important;

  /* --tabs-activated-bg: var(--toolbar-el-overlay-hover-bg); */
  /* --tabs-activated-fg: var(--frame-fg); */
}

#nav_bar{
  margin-left: 2px;
}

.Tab .fav-icon {
  margin-left: 2px;
}

#nav_bar .audio{
  display: none;
}

.Tab .audio {
  transform: translate(-8px,-10px);
}

.Tab .t-box {
  --audio-btn-offset: 0px;
  margin-left: 5px !important;
}

.Tab .body::after{
  transform: translateY(4px);
  width: 2px;
}

/* Container mark */
.ctx {
  box-shadow: 0 1px 10px 1px var(--color);
}

@media screen and (max-width: 200px) {  /* Max width this big to fix an issue with incomplete tab names */
    /* Sub-Tabs padding */
  #root {
    --tabs-indent: 0px;
  }

  .static-btns {
    visibility: collapse;
  }

  .main-items > .nav-item[data-active="true"] {
    opacity: 100 !important;
    transform: initial !important;
  }

  .main-items > .nav-item[data-active="false"],
  .TabsPanel .close,
  .TabsPanel .exp {
    display: none !important;
  }
}