#root.root {
  --nav-btn-width: 34px;
  --nav-btn-height: 34px;
  --tabs-pinned-height: 34px;
  --tabs-pinned-width: 34px;
  --tabs-height: 34px;

  --frame-bg: #1E202F;
  --ctx-menu-bg: #19191F;
  --tabs-activated-bg: #323443;
}

#nav_bar{
  margin-left: 2px;
}

.Tab .fav-icon {
  left: 2px;
}

.Tab .t-box {
  --audio-btn-offset: 0px;
  margin-left: 3px !important;
}

.Tab .audio {
  left: 15px !important;
  top: -10px !important;
}

.ctx {
    box-shadow: 0 1px 10px 1px var(--color);
}

@media screen and (max-width: 200px) {
  #root {
    --tabs-indent: 0px;
  }

  .static-btns {
    visibility: collapse;
  }

  .main-items > .nav-item[data-active="true"] {
    opacity: 100 !important;
    transform: initial !important;
  }

  .main-items > .nav-item[data-active="false"],
  .TabsPanel .close,
  .TabsPanel .exp {
    display: none !important;
  }
}

/* OLD STYLES
#root.root {
  --nav-btn-width: 38px;
  --nav-btn-height: 38px;
  --tabs-height: 34px;
  --frame-bg: #1E202F;
  --ctx-menu-bg: #19191F;
  --tabs-activated-bg: #323443;
}