#root.root {
  /* Collapsed buttons size */
  --nav-btn-width: 34px;
  --nav-btn-height: 34px;
  --tabs-pinned-height: 34px;
  --tabs-pinned-width: 34px;
  --tabs-height: 34px;

  --tabs-lvl-opacity: 0.5;    /* Sub-Tabs marks*/
  --frame-bg: #1E202F;    /* Background */
  --ctx-menu-bg: #19191F;    /* Context menu */
  --tabs-activated-bg: #323443;    /* Activated tabs */
}

#nav_bar{
  margin-left: 2px;
}

.Tab .fav-icon {
  margin-left: 2px;
}

#nav_bar .audio{
  display: none;
}

.Tab .audio {
  transform: translate(-8px,-10px);
}

.Tab .t-box {
  --audio-btn-offset: 0px;
  margin-left: 5px !important;
}

  /* Container mark */
.ctx {
  box-shadow: 0 1px 10px 1px var(--color);
}

@media screen and (max-width: 200px) {  /* Max width this big to fix an issue with incomplete tab names */
    /* Sub-Tabs padding */
  #root {
    --tabs-indent: 0px;
  }

  .static-btns {
    visibility: collapse;
  }

  .main-items > .nav-item[data-active="true"] {
    opacity: 100 !important;
    transform: initial !important;
  }

  .main-items > .nav-item[data-active="false"],
  .TabsPanel .close,
  .TabsPanel .exp {
    display: none !important;
  }
}