@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");
/** Color Tweaks *********************************************************************************/

/** Dark colors*/
@media -moz-pref("color_scheme.dark") {
  @-moz-document url-prefix("about:"), url-prefix("chrome://"), url-prefix("https://addons.mozilla.org"), url-prefix("https://support.mozilla.org"), url-prefix("https://accounts.firefox.com"), url-prefix("view-source"), regexp("^((jar:)?file:///).*/$") {
    :host,
    :root,
    panel,
    dialog,
    window {
      --uc-primary-color: #191919;
      --uc-secundary-color: #202020; /* +3% lightness */
      --uc-foreground-color: #C7C7C7;
      --uc-foreground-color-light: #EBEBEB; /* +14% lightness */
    }
  }
}

/** Nordic colors*/
@media -moz-pref("color_scheme.nordic") {
  @-moz-document url-prefix("about:"), url-prefix("chrome://"), url-prefix("https://addons.mozilla.org"), url-prefix("https://support.mozilla.org"), url-prefix("https://accounts.firefox.com"), url-prefix("view-source"), regexp("^((jar:)?file:///).*/$") {
    :host,
    :root,
    panel,
    dialog,
    window {
      --uc-primary-color: #15181E;
      --uc-secundary-color: #1C1F26; /* +3% lightness */
      --uc-foreground-color: #B7C2D7;
      --uc-foreground-color-light: #E5E9F0; /* +14% lightness */
    }
  }
}

/** Mocha colors*/
@media -moz-pref("color_scheme.mocha") {
  @-moz-document url-prefix("about:"), url-prefix("chrome://"), url-prefix("https://addons.mozilla.org"), url-prefix("https://support.mozilla.org"), url-prefix("https://accounts.firefox.com"), url-prefix("view-source"), regexp("^((jar:)?file:///).*/$") {
    :host,
    :root,
    panel,
    dialog,
    window {
      --uc-primary-color: #14141F;
      --uc-secundary-color: #1A1A28; /* +3% lightness */
      --uc-foreground-color: #A3B4EB;
      --uc-foreground-color-light: #DEE4F8; /* +14% lightness */
    }
  }
}

/** Tokyo Night colors*/
@media -moz-pref("color_scheme.tokyo") {
  @-moz-document url-prefix("about:"), url-prefix("chrome://"), url-prefix("https://addons.mozilla.org"), url-prefix("https://support.mozilla.org"), url-prefix("https://accounts.firefox.com"), url-prefix("view-source"), regexp("^((jar:)?file:///).*/$") {
    :host,
    :root,
    panel,
    dialog,
    window {
      --uc-primary-color: #15151E;
      --uc-secundary-color: #1A1B26; /* +3% lightness */
      --uc-foreground-color: #B3BADB;
      --uc-foreground-color-light: #E3E6F2; /* +14% lightness */
    }
  }
}

/** Frost accent color */
@media -moz-pref("color_scheme.accent_frost") {
  @-moz-document url-prefix("about:"), url-prefix("chrome://"), url-prefix("https://addons.mozilla.org"), url-prefix("https://support.mozilla.org"), url-prefix("https://accounts.firefox.com"), url-prefix("view-source"), regexp("^((jar:)?file:///).*/$") {
    :host,
    :root,
    panel,
    dialog,
    window {
      --uc-accent-color: #5e81ac;
      --uc-accent-highlight-color: #A1B5CE; /* +20% lightness */
    }
  }
}

/** Moss accent color */
@media -moz-pref("color_scheme.accent_moss") {
  @-moz-document url-prefix("about:"), url-prefix("chrome://"), url-prefix("https://addons.mozilla.org"), url-prefix("https://support.mozilla.org"), url-prefix("https://accounts.firefox.com"), url-prefix("view-source"), regexp("^((jar:)?file:///).*/$") {
    :host,
    :root,
    panel,
    dialog,
    window {
      --uc-accent-color: #587E75;
      --uc-accent-highlight-color: #8DB0A7; /* +20% lightness */
    }
  }
}

/** Default color tweaks */
@media -moz-pref("color_scheme.apply_tweaks") {
  @-moz-document url-prefix("about:"), url-prefix("chrome://"), url-prefix("https://addons.mozilla.org"), url-prefix("https://support.mozilla.org"), url-prefix("https://accounts.firefox.com"), url-prefix("view-source"), regexp("^((jar:)?file:///).*/$") {
    :host,
    :root,
    panel,
    dialog,
    window {
      --in-content-primary-button-background: var(--uc-accent-color) !important;
      --in-content-primary-button-background-active: var(--uc-accent-color) !important;
      --in-content-primary-button-background-hover: var(--uc-accent-highlight-color) !important;

      --focus-outline-color: var(--uc-accent-color) !important;
      --in-content-link-color: var(--uc-accent-color) !important;
      --urlbar-popup-url-color: var(--uc-accent-color) !important;
      --checkbox-checked-bgcolor: var(--uc-accent-color) !important;
      --checkbox-checked-active-bgcolor: var(--uc-accent-color) !important;
      --checkbox-checked-hover-bgcolor: var(--uc-accent-highlight-color) !important;

      --in-content-page-background: var(--uc-primary-color) !important;
      --in-content-box-background: var(--uc-secundary-color) !important;
      --in-content-table-background: var(--uc-secundary-color) !important;
      --in-content-box-info-background: var(--uc-secundary-color) !important;
      --in-content-page-color: var(--uc-foreground-color) !important;
      --color-accent-primary: var(--uc-accent-color) !important;

      --tab-line-color: var(--uc-accent-color) !important;
      --focus-outline-color: var(--uc-accent-color) !important;
    }
  }
}