:root {
  /* Colors*/
  --identity-color-blue:      #7ED6DF;
  --identity-color-turquoise: #55E6C1;
  --identity-color-green:     #B8E994;
  --identity-color-yellow:    #F7D794;
  --identity-color-orange:    #F19066;
  --identity-color-red:       #FC5C65;
  --identity-color-pink:      #F78FB3;
  --identity-color-purple:    #786FA6;
  
  /**  Main Color Scheme */
  --uc-base-color:            #1E2021;
  --uc-highlight-color:       #191B1C;
  --uc-text-color:            #C8C8C8;
  --uc-muted-color:           #AAAAAC;
  --uc-accent-color:            var(--identity-color-orange);

  /** Popup panels */
  --arrowpanel-background: var(--uc-base-color) !important;
  /* --arrowpanel-border-color: green !important; */
  --arrowpanel-color: var(--uc-text-color) !important;
  /* --arrowpanel-dimmed: rgba(0,0,0,0.4) !important; */

  /** window and toolbar background */
  --lwt-accent-color: var(--uc-base-color) !important;
  /* --lwt-accent-color-inactive: green !important; */
  --toolbar-bgcolor: var(--uc-base-color) !important; 

  /** tabs with system theme - text is not controlled by variable */
  /* --tab-selected-bgcolor: powderblue !important; */

  /* tabs with any other theme */
  --lwt-text-color: var(--uc-text-color) !important;
  --lwt-selected-tab-background-color: var(--uc-highlight-color) !important;

  /** toolbar area */
  /* --toolbarbutton-icon-fill: white !important; */
  /* --lwt-toolbarbutton-hover-background: orange !important; */
  /* --lwt-toolbarbutton-active-background: red !important; */

  /** urlbar */
  /* --urlbar-popup-url-color: var(--uc-accent-color) !important; */
  --toolbar-field-border-color: var(--uc-base-color) !important;
  --toolbar-field-focus-border-color: transparent !important;
  --toolbar-field-background-color: var(--uc-base-color) !important;
  --toolbar-field-focus-background-color: var(--uc-highlight-color) !important;
  --toolbar-field-color: var(--uc-text-color) !important;
  /* --toolbar-field-focus-color: var(--uc-text-color) !important; */

  /** sidebar - note the sidebar-box rule for the header-area */
  --lwt-sidebar-background-color: var(--uc-base-color) !important;
  /* --lwt-sidebar-text-color: yellow !important; */
}

/* line between nav-bar and tabs toolbar, also fallback color for border around selected tab */
/* #navigator-toolbox{ --lwt-tabs-border-color: cyan !important; } */
/* Line above tabs */
/* #tabbrowser-tabs{ --lwt-tab-line-color: white !important; } */
/* the header-area of sidebar needs this to work */
#sidebar-box{ --sidebar-background-color: var(--uc-base-color) !important; }

/** Container Tabs colors */
/* .identity-color-blue      { --identity-tab-color: var(--identity-color-blue)      !important; --identity-icon-color: var(--identity-color-blue)      !important; } */
/* .identity-color-turquoise { --identity-tab-color: var(--identity-color-turquoise) !important; --identity-icon-color: var(--identity-color-turquoise) !important; } */
/* .identity-color-green     { --identity-tab-color: var(--identity-color-green)     !important; --identity-icon-color: var(--identity-color-green)     !important; } */
/* .identity-color-yellow    { --identity-tab-color: var(--identity-color-yellow)    !important; --identity-icon-color: var(--identity-color-yellow)    !important; } */
/* .identity-color-orange    { --identity-tab-color: var(--identity-color-orange)    !important; --identity-icon-color: var(--identity-color-orange)    !important; } */
/* .identity-color-red       { --identity-tab-color: var(--identity-color-red)       !important; --identity-icon-color: var(--identity-color-red)       !important; } */
/* .identity-color-pink      { --identity-tab-color: var(--identity-color-pink)      !important; --identity-icon-color: var(--identity-color-pink)      !important; } */
/* .identity-color-purple    { --identity-tab-color: var(--identity-color-purple)    !important; --identity-icon-color: var(--identity-color-purple)    !important; } */