:root,
panel,
dialog,
window {
 --uc-accent-color-moss: #486860;                   /* Moss */
 --uc-accent-color-dark-pastel-blue: #779ecb;       /* Dark Pastel Blue*/
 --uc-accent-color-yellow-tokyo-night: #e0af68;     /* Yellow Tokyo night*/

 --uc-accent-color: var(--uc-accent-color-yellow-tokyo-night);
 --uc-background-color: #1a1b26;                    /* Background color */
 --uc-highlight-color: #9aa5ce;                     /* Highlight color */
 
 --lwt-toolbarbutton-icon-fill-attention: var(--uc-accent-color) !important;
 --button-primary-bgcolor: var(--uc-accent-color) !important;
 --button-primary-hover-bgcolor: var(--uc-accent-color) !important;
 --button-primary-active-bgcolor: var(--uc-accent-color) !important;
 --in-content-primary-button-background: var(--uc-accent-color) !important;
 --in-content-primary-button-background-hover: var(--uc-accent-color) !important;
 --in-content-primary-button-background-active: var(--uc-accent-color) !important;
 --input-border-color: var(--uc-accent-color) !important;
 --uc-checkbox-checked-bgcolor: var(--uc-accent-color) !important;
 --checkbox-checked-bgcolor: var(--uc-accent-color) !important;
 --focus-outline-color: var(--uc-accent-color) !important;
 --in-content-link-color: var(--uc-accent-color) !important;
 --autocomplete-popup-highlight-background: var(--uc-accent-color) !important;
}