@supports -moz-bool-pref("userChrome.theme.personal.tokyo_night") {
  :root,
  panel,
  dialog,
  window {
    /** Tokyo Night colors ***********************************************************/
    --uc-primary-color: #1A1B26;              /* Background color */
    --uc-secondary-color: #15161E;            /* Secondary color */
    --uc-highlight-color: #1A1B26;            /* Highlight color */
    --uc-text-color: #C0CAF5;                 /* Text color */
  }
}

@supports -moz-bool-pref("userChrome.theme.personal.catppuccin_mocha") {
  :root,
  panel,
  dialog,
  window {
    /** Catppuccin Mocha colors ***********************************************************/
    --uc-primary-color: #1E1E2E;              /* Background color */
    --uc-secondary-color: #11111B;            /* Secondary color */
    --uc-highlight-color: #1E1E2E;            /* Highlight color */
    --uc-text-color: #CDD6F4;                 /* Text color */
  }
}

@supports -moz-bool-pref("userChrome.theme.personal.accent") {
  :root,
  panel,
  dialog,
  window {
    /** Accent colors **********************************************************/
    --uc-color-moss: #486860;               /* Moss */
    --uc-color-dpb: #779ecb;                /* Dark Pastel Blue*/
    --uc-color-ytn: #e0af68;                /* Yellow Tokyo night*/
    --uc-accent-color: var(--uc-color-moss);   /* Accent color */

    /** Accent color ***********************************************************/
    --lwt-toolbarbutton-icon-fill-attention: var(--uc-accent-color) !important;
    --button-primary-bgcolor: var(--uc-accent-color) !important;
    --button-primary-hover-bgcolor: var(--uc-accent-color) !important;
    --button-primary-active-bgcolor: var(--uc-accent-color) !important;
    --in-content-primary-button-background: var(--uc-accent-color) !important;
    --in-content-primary-button-background-hover: var(--uc-accent-color) !important;
    --in-content-primary-button-background-active: var(--uc-accent-color) !important;
    --input-border-color: var(--uc-accent-color) !important;
    --uc-checkbox-checked-bgcolor: var(--uc-accent-color) !important;
    --checkbox-checked-bgcolor: var(--uc-accent-color) !important;
    --focus-outline-color: var(--uc-accent-color) !important;
    --in-content-link-color: var(--uc-accent-color) !important;
    --autocomplete-popup-highlight-background: var(--uc-accent-color) !important;
    --arrowpanel-dimmed: var(--uc-accent-color) !important;
  }
}

@supports -moz-bool-pref("userChrome.theme.personal.full") {
  /** Firefox colors ***********************************************************/
  :root{
    /* Popup panels */
    --arrowpanel-background: var(--uc-primary-color) !important;            /* Popup background */
    --arrowpanel-border-color: var(--uc-primary-color) !important;          /* Popup border */
    --arrowpanel-color: var(--uc-text-color) !important;                    /* Popup text */
    /*--arrowpanel-dimmed: var(--uc-accent-color) !important;                 /* Popup dimmed and URLbar selected */

    /* Window and toolbar */
    --lwt-accent-color: var(--uc-primary-color) !important;                 /* Window background */
    --lwt-accent-color-inactive: var(--uc-secondary-color) !important;      /* Window background inactive */
    --toolbar-bgcolor: var(--uc-primary-color) !important;                  /* Toolbar background */
    
    /* Active tabs */
    --tab-selected-bgcolor: var(--uc-highlight-color) !important;                 /* Active tabs with system theme */
    --lwt-text-color: var(--uc-text-color) !important;                            /* Active tabs text */
    --lwt-tab-text: var(--uc-text-color) !important;                              /* Active tabs text */
    --lwt-selected-tab-background-color: var(--uc-highlight-color) !important;    /* Active tabs background */

    /* Toolbar area */
    --toolbar-color: var(--uc-text-color) !important;               /* Toolbar text */
    --toolbarbutton-icon-fill: var(--uc-text-color) !important;     /* Toolbar icons */
    --lwt-toolbarbutton-hover-background: violet !important;
    --lwt-toolbarbutton-active-background: purple !important;

    /* URLbar */
    --toolbar-field-border-color: var(--uc-primary-color) !important;           /* URLbar border */
    --toolbar-field-focus-border-color: var(--uc-accent-color) !important;      /* URLbar border focus*/
    --toolbar-field-background-color: var(--uc-primary-color) !important;       /* URLbar background */
    --toolbar-field-focus-background-color: var(--uc-primary-color) !important; /* URLbar background focus */
    --toolbar-field-color: var(--uc-text-color) !important;                     /* URLbar text */
    --toolbar-field-focus-color: var(--uc-text-color) !important;               /* URLbar text focus*/
    /*--urlbar-popup-url-color: var(--uc-accent-color) !important;              /* URLbar popup URL*/

    /* Sidebar */
    --lwt-sidebar-background-color: var(--uc-primary-color) !important;
    --lwt-sidebar-text-color: var(--uc-text-color) !important;
    
  }

  #navigator-toolbox{ --lwt-tabs-border-color: var(--uc-primary-color) !important; }  /* Divider beetwen Tabbar and URLbar */
  #tabbrowser-tabs{ --lwt-tab-line-color: var(--uc-text-color) !important; }          /* Selected tab border */

  #sidebar-box{ 
    --sidebar-background-color: var(--uc-primary-color) !important;   /* Sidebar background */
    --sidebar-text-color: var(--uc-text-color) !important;            /* Sidebar text */
  }     
}