:root,
panel,
dialog,
window {
  /** Colors *****************************************************************/
  --uc-primary-color: #191B1C;
  --uc-secondary-color: #1E2021;
  --uc-highlight-color: #AAAAAC;
  --uc-text-color: #E6E6E8;

  /** Accent color ***********************************************************/
  --uc-accent-color: #e0af68;               /* Accent color */

  --lwt-toolbarbutton-icon-fill-attention: var(--uc-accent-color) !important;
  --button-primary-bgcolor: var(--uc-accent-color) !important;
  --button-primary-hover-bgcolor: var(--uc-accent-color) !important;
  --button-primary-active-bgcolor: var(--uc-accent-color) !important;
  --in-content-primary-button-background: var(--uc-accent-color) !important;
  --in-content-primary-button-background-hover: var(--uc-accent-color) !important;
  --in-content-primary-button-background-active: var(--uc-accent-color) !important;
  --input-border-color: var(--uc-accent-color) !important;
  --uc-checkbox-checked-bgcolor: var(--uc-accent-color) !important;
  --checkbox-checked-bgcolor: var(--uc-accent-color) !important;
  --focus-outline-color: var(--uc-accent-color) !important;
  --in-content-link-color: var(--uc-accent-color) !important;
  --autocomplete-popup-highlight-background: var(--uc-accent-color) !important;
  --toolbar-fg-active: var(--uc-accent-color) !important;
  --scroll-progress-bg: var(--uc-accent-color) !important;
  --urlbar-popup-url-color: var(--uc-accent-color) !important;
}