/** Fonts  ***************************************************************************************/
@font-face {
    font-family: 'DrukaatieburtiRegular';
        src: url('./fonts/DrukaatieBurti-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }