/** Extension Icons with Context Menus *****************************************************************************/

/* Bitwarden */
.webextension-browser-action[data-extensionid="{446900e4-71c2-419f-a6a7-df9c091e268b}"] {
  list-style-image: url(./icons/bitwarden.svg) !important;
}

#_446900e4-71c2-419f-a6a7-df9c091e268b_-menuitem-_root > .menu-iconic-left { 
  content: url(./icons/bitwarden.svg);
  -moz-context-properties: fill;
  fill: currentColor;
  width: 1.45em !important;
}

/* Language Tool */
.webextension-browser-action[data-extensionid="languagetool-webextension@languagetool.org"] {
  list-style-image: url(./icons/language-tool.svg) !important;
}

#languagetool-webextension_languagetool_org-menuitem-_languagetool-menu > .menu-iconic-left { 
  content: url(./icons/language-tool.svg);
  -moz-context-properties: fill;
  fill: currentColor;
  width: 1.45em !important;
}

/* Screenshot */
.webextension-browser-action[data-extensionid="{72cf1cb4-6679-4939-bb21-d4ce36de507a}"] {
  list-style-image: url(./icons/screenshot.svg) !important;
}

#_72cf1cb4-6679-4939-bb21-d4ce36de507a_-menuitem-2 > .menu-iconic-left { 
  content: url(./icons/screenshot.svg);
  -moz-context-properties: fill;
  fill: currentColor;
  width: 1.45em !important;
}

/* Firefox Containers */
.webextension-browser-action[data-extensionid="@testpilot-containers"] {
  list-style-image: url(./icons/container.svg) !important;
}
#pageAction-urlbar-_testpilot-containers,
#pageAction-urlbar-_testpilot-containers > image {
  list-style-image: url(./icons/container-open.svg) !important;
  filter: none !important;
}

/* Side View */
.webextension-browser-action[data-extensionid="side-view@mozilla.org"] {
  list-style-image: url(./icons/sideview.svg) !important;
}
#pageAction-urlbar-side-view_mozilla_org,
#pageAction-urlbar-side-view_mozilla_org > image {
  list-style-image: url(./icons/sideview.svg) !important;
  filter: none !important;
}

#side-view_mozilla_org-menuitem-_open-in-sidebar > .menu-iconic-left { 
  content: url(./icons/sideview.svg);
  -moz-context-properties: fill;
  fill: currentColor;
  width: 1.45em !important;
}

/* Ublock */
.webextension-browser-action[data-extensionid="uBlock0@raymondhill.net"] {
  list-style-image: url(./icons/ublock.svg) !important;
}

#ublock0_raymondhill_net-menuitem-_uBlock0-blockElement > .menu-iconic-left { 
  content: url(./icons/ublock.svg);
  -moz-context-properties: fill;
  fill: currentColor;
  width: 1.45em !important;
}

/** Extension Icons without Context Menus *****************************************************************************/

/* Bonjour */
.webextension-browser-action[data-extensionid="{4f391a9e-8717-4ba6-a5b1-488a34931fcb}"] {
  list-style-image: url(./icons/bonjour.svg) !important;
}

/* Enhancer for Youtube */
.webextension-browser-action[data-extensionid="enhancerforyoutube@maximerf.addons.mozilla.org"] {
  list-style-image: url(./icons/enhancer-youtube.svg) !important;
}

/* Keepa */
.webextension-browser-action[data-extensionid="amptra@keepa.com"] {
  list-style-image: url(./icons/keepa.svg) !important;
}

/* Sponsorblock */
.webextension-browser-action[data-extensionid="sponsorBlocker@ajay.app"] {
  list-style-image: url(./icons/sponsor-block.svg) !important;
}

/* SteamDB */
.webextension-browser-action[data-extensionid="firefox-extension@steamdb.info"] {
  list-style-image: url(./icons/steamdb.svg) !important;
}

/* Upnote */
.webextension-browser-action[data-extensionid="{a20e5019-add8-49db-9199-3c3bea455c3f}"] {
  list-style-image: url(./icons/upnote.svg) !important;
}



/** Disabled Extension Icons  ********************************************************************/

/* https://www.reddit.com/r/FirefoxCSS/comments/11k9qa6/comment/jb6gd4a/?utm_source=reddit&utm_medium=web2x&context=3 */
.unified-extensions-item-action-button[disabled] > .unified-extensions-item-icon{
  display: none;
}
.unified-extensions-item-action-button[disabled]::before{
  display: -moz-box;
  height: var(--uei-icon-size);
  width: var(--uei-icon-size);
  -moz-context-properties: fill;
  fill: currentColor;
}

/* Imagus */
.unified-extensions-item-action-button[data-extensionid="{00000f2a-7cde-4f20-83ed-434fcb420d71}"]::before {
  content: url(./icons/imagus.svg);
}

/* Tabliss */
.unified-extensions-item-action-button[data-extensionid="extension@tabliss.io"]::before {
  content: url(./icons/tabliss.svg);
}