/** Bookmarks Bar ********************************************************************************/
/** Requires autohide_bookmarks_toolbar.css */

#PlacesToolbarItems {
  display: flex !important;
  justify-content: safe center !important;
}
#PersonalToolbar{
  --uc-autohide-toolbar-delay: 200ms; /* The toolbar is hidden after 0.2s */
  --uc-bm-height: 19px; 
  width: fit-content;
  align-self: center;
  border-radius: 0px 0px 4px 4px;
}

/** Miscellaneous Tweaks  ************************************************************************/

/** Remove Extension text from URL bar */
#identity-box.extensionPage label,
#identity-box.chromeUI label{display: none !important;}

/** Remove background from URLbar buttons */
.identity-box-button {background-color: transparent !important;}
.identity-box-button:hover {background-color: var(--button-hover-bgcolor) !important;}
.identity-box-button[open="true"] {background-color: var(--button-active-bgcolor) !important;}

/** Hide placeholder text from URLbar */
#urlbar-input::placeholder,
.searchbar-textbox::placeholder { opacity: 0 !important;}

/** Bookmark bar bottom border */
#navigator-toolbox{ border-bottom: none !important; }

/** FindBar top border */
.browserContainer > findbar:nth-child(3){border-top: none !important}

/** New Bookmark save button colors */
#editBookmarkPanelDoneButton{
  background-color: var(--in-content-primary-button-background) !important;
  color: var(--in-content-primary-button-text-color) !important;
  border-color: var(--in-content-primary-button-border-color) !important;
}

/** "Manage Extensions" icon */
#unified-extensions-manage-extensions .toolbarbutton-text {
  order: -1;
}

/** Multiselected tab text */
.tabbrowser-tab[multiselected="true"]:not([selected]) {
  color: inherit !important;
}

/** Browser content border */
#appcontent > #tabbrowser-tabbox > #tabbrowser-tabpanels
> .deck-selected > .browserContainer > .browserStack > browser {
  border-radius: 4px !important;
  /* margin: 0px !important; */
}

/** Browser content background */
.browserStack { background: var(--toolbar-bgcolor);}

/** Remove white flash */
#tabbrowser-tabbox,
#tabbrowser-tabpanels,
browser[type="content-primary"],
browser[type="content"] > html {
  background: var(--in-content-page-background) !important;
}

/** Profile Icons */
.subviewbutton-iconic > .toolbarbutton-icon,
.profile-item > .toolbarbutton-icon {
  color: transparent !important;
  stroke: var(--arrowpanel-color) !important;
}

/** Remove unremovable blank area from toolbar */
#vertical-spacer { display: none; } 

/** Remove top border and show final spacer */
#nav-bar { border-top: 0px !important; }
.titlebar-spacer {
  &[type="post-tabs"] { display: flex !important; }
}

/** Hide Sidebar settings buttons */
#toolbar-context-toggle-vertical-tabs,
button-group.tools-and-extensions > moz-button[view="viewCustomizeSidebar"] {
  display: none !important;
}

/** Sidebar Width */
#sidebar-box:not([sidebarcommand="viewCustomizeSidebar"]) { min-width: 450px !important; }

/** Right Sidebar */
#sidebar-box:not([sidebar-positionend]) { 
  order: 6 !important;
  padding: 0 !important;
  margin-inline-start: 0 !important;
}
#sidebar:not([sidebar-positionend]) { border-radius: 0 !important; }
:root[sidebar-expand-on-hover] {
  #tabbrowser-tabbox {
    &:not([sidebar-positionend]) {
      &[sidebar-panel-open] {
        margin-inline-start: 0 !important;
      }
      &[sidebar-panel-open][sidebar-launcher-hovered][sidebar-launcher-expanded],
      &[sidebar-ongoing-animations][sidebar-panel-open] {
        margin-inline-start: var(--sidebar-launcher-collapsed-width) !important;
      }
    }
  }
}