/** Color Tweaks *********************************************************************************/

:root,
panel,
dialog,
window {
  /** Mocha Background colors*/
  --uc-primary-color: #1E1E2E;
  --uc-secundary-color: #2D2D3D;
  
  /** Darker Background colors*/
  /* --uc-primary-color: #1E1C1F; */
  /* --uc-secundary-color: #2D2B2E; */
  
  /** Moss Accent color */
  /* --uc-accent-color: #5C7C74; */
  /* --uc-accent-highlight-color: #90ADA5; */

  /** Frost Accent color */
  --uc-accent-color: #5e81ac;
  --uc-accent-highlight-color: #A1B5CE;

  --in-content-primary-button-background: var(--uc-accent-color) !important;
  --in-content-primary-button-background-active: var(--uc-accent-color) !important;
  --in-content-primary-button-background-hover: var(--uc-accent-highlight-color) !important;

  --focus-outline-color: var(--uc-accent-color) !important;
  --in-content-link-color: var(--uc-accent-color) !important;
  --urlbar-popup-url-color: var(--uc-accent-color) !important;
  --checkbox-checked-bgcolor: var(--uc-accent-color) !important;
  --checkbox-checked-active-bgcolor: var(--uc-accent-color) !important;
  --checkbox-checked-hover-bgcolor: var(--uc-accent-highlight-color) !important;

  --in-content-page-background: var(--uc-primary-color) !important;
  --in-content-box-background: var(--uc-secundary-color) !important;
  --in-content-table-background: var(--uc-secundary-color) !important;
}