/** Requires autohide_sidebar.css */

/** Vertical Tabs --------------*/
#sidebar-box{
  --uc-sidebar-width: 40px;
  --uc-sidebar-hover-width: 260px;
  --uc-autohide-sidebar-delay: 100ms; /* Wait 0.1s before hiding sidebar */
  --sidebar-background-color: #1E202F !important;
}

#sidebar,
#sidebar-header{
  border-inline: 1px solid #1E202F;
  border-bottom: 0px !important;
}

#sidebar-close,
#sidebar-switcher-arrow {display: none;}

#sidebar-title {margin-left: 5px !important;}
#sidebar-switcher-target {padding-left: 2px !important;}